
/* Prevenir zoom automático en inputs móviles */
@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  textarea,
  select {
    font-size: 16px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  /* Específicamente para el input de Anki */
  .anki-mobile-input {
    font-size: 16px !important;
    min-height: 44px !important;
    -webkit-tap-highlight-color: transparent;
  }
}
