@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_variables.css';
@import './_base.css';
@import './_utilities.css';
@import './_animations.css';
@import './_components.css';
@import './_react-quill.css';
@import './_mobile.css';
@import './_chat.css';
@import './_sonner.css';
@import './_scrollbar.css';
