@import './styles/_variables.css';
@import './styles/_base.css';
@import './styles/_utilities.css';
@import './styles/_animations.css';
@import './styles/_components.css';
@import './styles/_react-quill.css';
@import './styles/_mobile.css';
@import './styles/_chat.css';
@import './styles/_sonner.css';
@import './styles/_scrollbar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
